fieldset {
    margin: 0 0 spacing(sm);
    padding: spacing(1);
}

input,
label,
select {
    display: block;
}

label {
    margin-bottom: spacing(1);

    &.required::after {
        content: "*";
    }
}

textarea {
    resize: vertical;
}

input[type="search"] {
    appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: spacing(1);
    
    + label {
        display: inline-block;
    }
}

input[type="file"] {
    margin-bottom: spacing(sm);
    width: 100%;
}

select {
    margin-bottom: spacing(1);
    max-width: 100%;
    width: auto;
}

.form {

    
}