.checkout {
    &__body {
        padding-bottom: 36px;

        @media (min-width: $bp-tablet) {
            display: flex;
            flex-direction: row-reverse;
        }
    }
    &__cart {
        flex-basis: 300px;
    }

    &__main {
        @media (min-width: $bp-tablet) {
            margin-right: 12px;
        }

        flex-grow: 1;
    }

    &__shipping {
        #free-delivery {
            @media (min-width: $bp-laptop) {
                margin-left: 192px;
                max-width: 480px;
            }
        }

        .nav-tabs {
            & > li > a {
                border: none;
            }
        }

        #in-store-pickup {
            background-color: $color-tan-med;
            padding: 24px;

            form {
                padding: 0;
            }
        }
    }

    &__confirmation {

    }
}

#card-element {
    display: inline-block;
    min-width: 320px;
    background-color: $color-tan-light;
    border-radius: 4px;
    padding: 8px;
    margin-right: 24px;
}

.billing-loading-spinner {
    height: 24px;
    margin-left: 12px;
}
.powered-by-stripe {
    vertical-align: top;
    display: inline-block;
    img {
        height: 35px;
    }
}
