// featured section
.home-featured {
    background: url('/assets/img/defaultBackground.jpeg') no-repeat center center scroll;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    padding-bottom: 64px;
    padding-top: 128px;
    position: relative;
    
    
// text color for "featured items"
    h2, p {
        color: $color-orange-light;
        text-align: center;
        font-size: 75px;
        font-weight: 300;
        font-style: italic;
        background: radial-gradient(rgb(33, 190, 196), navy);
        border-radius: 50px;
        margin-left: 15px;
        margin-right: -12px;
        margin-bottom: 15px;
        
        }
        @mixin transition($transition){
            -webkit-transition: $transition;
            -moz-transition: $transition;
            -ms-transition: $transition;
            -o-transition: $transition;
            transition: $transition;
          }
          
          @mixin textShadow($text-shadow) {
            -webkit-text-shadow: $text-shadow;
            -moz-text-shadow: $text-shadow;
            -ms-text-shadow: $text-shadow;
            -o-text-shadow: $text-shadow;
            text-shadow: $text-shadow;
          }
          
          @mixin boxShadow($box-shadow) {
            -webkit-box-shadow: $box-shadow;
            -moz-box-shadow: $box-shadow;
            -ms-box-shadow: $box-shadow;
            -o-box-shadow: $box-shadow;
            box-shadow: $box-shadow;
          }
          
          @mixin NoUserSelect {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
          }
    h2:hover {
        @include transition(.5s ease-in-out);
        @include textShadow((0 0 0 transparent,0 0 0 transparent));
        color:rgba(0,0,0,.1);
        overflow:visible;
        &:hover {
          color:white;
          @include textShadow((0 0 10px #ff401a,0 0 50px #ff9b1a));
        }
      }
    p {
        margin-bottom: 32px;
    }
@media (min-width: 320px) and (max-width: 767px) {
    h2, p {
        font-size: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
}
// top of featured items border
    .listing-boxes__listing {
        border-top-color: $color-orange-light;
        border-radius: 10px;
    }
    

    &::before {
        content: '';
        position: absolute;
        bottom: calc(100% - 80px);
        height: 106px;
        width: 100%;
        left: 0;
        // background-image: url('/assets/img/squiggles-turquise-dark-big.png'); 
        background-repeat: repeat-x;
        background-position: center 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(100% - 24px);
        height: 136px;
        width: 100%;
        left: 0;
        background-image: url('/assets/img/squiggles-turquise-dark-big.png');
        background-repeat: repeat-x;
        background-position: center center;
        z-index: 10;
    }
}
.recommended{
    color: $color-orange-light;
    background:navy;
    border-radius: 25px;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 40px;
    margin-left: 390px;
}
    @media (min-width: 320px) and (max-width: 767px) {
    .recommended{
        font-size: 20px;
        margin-left: 65px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .overlap{
        margin-top: 50px;
        margin-right: 250px;
    }
}
@media (min-width:900px) and (max-width:1025px){
    .recommended{
    margin-left: 275px;
    }
  }
  @media (min-width: 767px) and (max-width: 768px) {
    .recommended{
        font-size: 40px;
        margin-left: 160px;
    }
}

#regular-ads-container {
    background: url('/assets/img/fullSizeBackground.svg') repeat center center scroll;
    
    padding-bottom: 64px;
    padding-top: 128px;
    position: relative;

    .listing-boxes__listing {
        border-top-color: $color-navy-light;
    }
// Auctions section heading
h2{
        color: $color-orange-light;
        text-align: center;
        font-size: 75px;
        font-weight: 300;
        font-style: italic;
        background: radial-gradient(rgb(33, 190, 196), navy);
        border-radius: 50px;
        margin-bottom:0px;
        padding-bottom: 0px;
}
@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
  
  @mixin textShadow($text-shadow) {
    -webkit-text-shadow: $text-shadow;
    -moz-text-shadow: $text-shadow;
    -ms-text-shadow: $text-shadow;
    -o-text-shadow: $text-shadow;
    text-shadow: $text-shadow;
  }
  
  @mixin boxShadow($box-shadow) {
    -webkit-box-shadow: $box-shadow;
    -moz-box-shadow: $box-shadow;
    -ms-box-shadow: $box-shadow;
    -o-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
  }
  
  @mixin NoUserSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
h2:hover {
    @include transition(.5s ease-in-out);
    @include textShadow((0 0 0 transparent,0 0 0 transparent));
    color:rgba(0,0,0,.1);
    overflow:visible;
    &:hover {
      color:white;
      @include textShadow((0 0 10px #ff401a,0 0 50px #ff9b1a));
    }
  }
@media (min-width: 320px) and (max-width: 767px) {
    h2{
        font-size: 40px;
        margin-left: 5px;
        margin-bottom: 0px;
        padding-bottom: 0px
    }
}
}
.container1{
    display: flex;
    overflow-x: auto;
}
// carousel
[data-component=home-slider].slick-initialized {
    .container {
        position: relative;
    }
    .slick-slide {
        background-size: cover;
        background-position: center center;
        overflow: hidden;

        .content {
            display: flex;
            flex-direction: column;
            height: 500px;
            justify-content: space-between;
            position: relative;

            &__copy {
                background-color: rgb(33, 190, 196);
                color: $color-navy;
                margin-top: 16px;
                padding: 24px;
                margin-bottom: 16px;
                border-radius: 25px;

                h2 {
                    color: $color-navy;
                }
            }

            &__copy-container {
                @media (min-width: $bp-tablet) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 0;
                }
            }

            &__image {
                flex-grow: 1;
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;

                @media (min-width: $bp-tablet) {
                    display: block;
                    flex-grow: 0;
                    flex-basis: 50%;
                }
            }

            @media (min-width: $bp-tablet) {
                height: 400px;
                flex-direction: row;
                justify-content: space-between;
            }

            .btn {
                line-height: 24px;

                svg {
                    margin-bottom: 4px;
                    margin-left: 32px;
                    vertical-align: middle;
                }

                &:hover {
                    svg {
                        polygon:last-child {
                            fill: $color-navy;
                        }
                    }
                }
            }
        }
        .wavy {
            display: none;
            position: absolute;
            height: 105px;
            width: 1377px;
            background-image: url('/assets/img/squiggles-navy-big.png');
            top: 64px;
            right: calc(100% - 300px);

            @media (min-width: $bp-tablet) {
                display: block;
            }
        }
    }
}

.welcome-copy {
    background-color: $color-white;
    padding: 32px;
    margin-bottom: 64px;

    p {
        color: $color-navy;
        flex-basis: 50%;
        font-size: 2rem;
        text-align: left;

        b {
            color: $color-orange-light;
        }
    }

    .a-us-company {
        text-align: center;

        @media (min-width: $bp-tablet) {
            display: none;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    .home-shipping {
        margin: 32px auto;
        min-width: 320px;
        flex-basis: 50%;

        td, th {
            padding: 4px;
        }

        td, th {
            text-align: center;
        }

        td:first-child, th:first-child {
            padding-left: 0;
        }

        td:last-child, th:last-child {
            padding-right: 0;
        }

        @media (min-width: $bp-tablet) {
            margin: 0;

            th {
                padding-top: 0;
            }

            tr:last-child {
                padding-bottom: 0;
            }
        }
    }

    @media (min-width: $bp-tablet) {
        align-items: top;
        display: flex;
        justify-content: space-between;
    }
}

.banner-message {
    height: 45px;
    padding-left: 0;
    padding-right: 0;
    background: navy;
    word-spacing: 5px;
    font-family: 'Saira Condensed', sans-serif;;
    z-index: 10;
  
    .marquee {
      width: 100%;
      line-height: 30px;
      white-space: nowrap;
      overflow: hidden;
      box-sizing: border-box;
      position: absolute;
      z-index: 10;
  
      h3 {
        display: inline-block;
        padding-left: 100%;
        color: white;
        margin-top: 8px;
        margin-bottom: 0;
        animation: marquee 30s linear infinite;
        text-transform: uppercase;
      }
      
      #secondmessage {
        animation-delay: 15s;
        
        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }
  
  @keyframes marquee {
    0%   {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
  }
    .fas {
        color: yellow;
    }
#money{
    color: green;
}