.home-featured {
    background-color: $color-turquoise;
    padding-bottom: 64px;
    padding-top: 128px;
    position: relative;

    h2, p {
        color: $color-white;
        text-align: center;
    }

    p {
        margin-bottom: 32px;
    }

    .listing-boxes__listing {
        border-top-color: $color-orange-light;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: calc(100% - 80px);
        height: 106px;
        width: 100%;
        left: 0;
        background-image: url('/assets/img/squiggles-turquise-dark-big.png');
        background-repeat: repeat-x;
        background-position: center 0;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(100% - 24px);
        height: 136px;
        width: 100%;
        left: 0;
        background-image: url('/assets/img/squiggles-tan-light-big.png');
        background-repeat: repeat-x;
        background-position: center center;
    }
}

.regular-ads-container {
    padding-top: 128px;
    background-color: $color-tan-dark;

    .listing-boxes__listing {
        border-top-color: $color-navy-light;
    }
}

[data-component=home-slider].slick-initialized {
    .container {
        position: relative;
    }
    .slick-slide {
        background-size: cover;
        background-position: center center;
        overflow: hidden;

        .content {
            display: flex;
            flex-direction: column;
            height: 500px;
            justify-content: space-between;
            position: relative;

            &__copy {
                background-color: $color-tan-light;
                color: $color-navy;
                margin-top: 16px;
                padding: 24px;
                margin-bottom: 16px;

                h2 {
                    color: $color-turquoise;
                }
            }

            &__copy-container {
                @media (min-width: $bp-tablet) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 0;
                }
            }

            &__image {
                flex-grow: 1;
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;

                @media (min-width: $bp-tablet) {
                    display: block;
                    flex-grow: 0;
                    flex-basis: 50%;
                }
            }

            @media (min-width: $bp-tablet) {
                height: 400px;
                flex-direction: row;
                justify-content: space-between;
            }

            .btn {
                line-height: 24px;

                svg {
                    margin-bottom: 4px;
                    margin-left: 32px;
                    vertical-align: middle;
                }

                &:hover {
                    svg {
                        polygon:last-child {
                            fill: $color-navy;
                        }
                    }
                }
            }
        }
        .wavy {
            display: none;
            position: absolute;
            height: 105px;
            width: 1377px;
            background-image: url('/assets/img/squiggles-navy-big.png');
            top: 64px;
            right: calc(100% - 300px);

            @media (min-width: $bp-tablet) {
                display: block;
            }
        }
    }
}

.welcome-copy {
    background-color: $color-white;
    padding: 32px;
    margin-bottom: 64px;

    p {
        color: $color-navy;
        flex-basis: 50%;
        font-size: 2rem;
        text-align: left;

        b {
            color: $color-orange-light;
        }
    }

    p:last-child {
        margin-bottom: 0;
    }

    .home-shipping {
        margin: 32px auto;
        min-width: 320px;
        flex-basis: 50%;

        td, th {
            padding: 4px;
        }

        td, th {
            text-align: center;
        }

        td:first-child, th:first-child {
            padding-left: 0;
        }

        td:last-child, th:last-child {
            padding-right: 0;
        }

        @media (min-width: $bp-tablet) {
            margin: 0;

            th {
                padding-top: 0;
            }

            tr:last-child {
                padding-bottom: 0;
            }
        }
    }

    @media (min-width: $bp-tablet) {
        align-items: top;
        display: flex;
        justify-content: space-between;
    }
}
