.home-featured {
    background-color: $color-turquoise;
    background-image: url('/assets/img/squiggles-turquise-dark-big.png');
    background-repeat: repeat-x;
    background-position: center -16px;
    padding-bottom: 64px;
    padding-top: 128px;
    position: relative;

    h2, p {
        color: $color-white;
        text-align: center;
    }

    p {
        margin-bottom: 32px;
    }

    .listing-boxes__listing {
        border-top-color: $color-orange-light;
    }

    &::after {
        content: '';
        position: absolute;
        top: calc(100% - 24px);
        height: 136px;
        width: 100%;
        left: 0;
        background-image: url('/assets/img/squiggles-tan-light-big.png');
        background-repeat: repeat-x;
        background-position: center center;
    }
}

.regular-ads-container {
    padding-top: 128px;
    background-color: $color-tan-dark;

    .listing-boxes__listing {
        border-top-color: $color-navy-light;
    }
}

[data-component=home-slider].slick-initialized {
    .slick-slide {
        .content {
            display: flex;
            flex-direction: column;
            height: 500px;
            justify-content: space-between;

            &__copy {
                background-color: $color-tan-light;
                color: $color-navy;
                margin-top: 16px;
                padding: 24px;
                margin-bottom: 16px;

                h2 {
                    color: $color-turquoise;
                }
            }

            &__image {
                display: flex;
                flex-direction: column-reverse;
                flex-shrink: 1;

                img {
                    max-width: 400px;
                }
            }

            @media (min-width: $bp-tablet) {
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}
