.search-sidebar {
    width: 100%;
    background-color: $color-tan-med;
    padding: 16px;

    &__toggle-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 200px !important;
    }

    @media (min-width: $bp-tablet) {
        width: 25%;
        float: left;

        &__toggle-container {
            display: none !important;
        }
    }

    &.open > div {
        max-height: 800px;
        margin-bottom: 24px;
    }

    & > div {
        max-height: 0;
        overflow: hidden;


        & > ul {
            list-style: none;
            padding-left: 0;

             ul {
                list-style: none;
                padding-left: 24px;
            }
        }

        @media (min-width: $bp-tablet) {
            display: block;
            max-height: none;
            margin-bottom: 24px;
        }
    }

    p.label {
        color: $color-black;
        margin: 0;
        padding: 0 0 8px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;

        a.clear-search {
            opacity: .6;
            color: $color-black;
            &:hover {
                opacity: 1;
            }
        }
    }
    form {
        padding: 0;

        .input-group .btn  {
            padding: 4px 8px 0;

            svg {
                height: 24px;
            }
        }
    }

    span.selected {
        color: $color-navy;
        font-weight: 800;
    }
}

.search-content {
    clear: left;

    @media (min-width: $bp-tablet) {
        clear: none;
    }
}
