.search-sidebar {
    width: 100%;
    background-color: rgb(33, 190, 196);
    padding: 16px;
    border-radius: 25px;
    font: navy;
    &__toggle-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-height: 200px !important;
    }

    @media (min-width: $bp-tablet) {
        width: 25%;
        float: left;

        &__toggle-container {
            display: none !important;
        }
    }

    &.open > div {
        max-height: 800px;
        margin-bottom: 24px;
        font: navy;
    }

    & > div {
        max-height: 0;
        overflow: hidden;
        font: navy;


        & > ul {
            list-style: none;
            padding-left: 0;
            font: navy;

             ul {
                list-style: none;
                padding-left: 24px;
                font: navy;
            }
        }

        @media (min-width: $bp-tablet) {
            display: block;
            max-height: none;
            margin-bottom: 24px;
        }
    }

    p.label {
        color: $color-black;
        margin: 0;
        padding: 0 0 8px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;

        a.clear-search {
            opacity: .6;
            color: $color-black;
            &:hover {
                opacity: 1;
            }
        }
    }
    form {
        padding: 0;
        font: navy;
        

        .input-group .btn  {
            padding: 4px 8px 0;

            svg {
                height: 24px;
            }
        }
    }

    span.selected {
        color: $color-navy;
        font-weight: 800;
    }
}

.search-content {
    clear: left;

    @media (min-width: $bp-tablet) {
        clear: none;
    }
}
$breakpoint-alpha: 480px; // adjust to your needs
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    margin-top: 50px;
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }