.search-sidebar {
    background-color: $color-tan-med;
    padding: 16px;

    & > div {
        margin-bottom: 24px;
        & > ul {
            list-style: none;
            padding-left: 0;

             ul {
                list-style: none;
                padding-left: 24px;
            }
        }
    }

    p.label {
        color: $color-black;
        margin: 0;
        padding: 0 0 8px;
        font-size: 16px;
        display: flex;
        justify-content: space-between;

        a.clear-search {
            opacity: .6;
            color: $color-black;
            &:hover {
                opacity: 1;
            }
        }
    }
    form {
        padding: 0;

        .input-group .btn  {
            padding: 4px 8px 0;

            svg {
                height: 24px;
            }
        }
    }

    span.selected {
        color: $color-navy;
        font-weight: 800;
    }
}
