// Colors
@each $color, $hex in $palette {
    .-c-#{$color} {
        color: $hex;
    }

    .-bg-#{$color} {
        background-color: $hex;
    }
}

.-d-none {
    display: none;
}

.-d-block {
    display: block;
}

.-d-flex {
    display: flex;
}

.-align-center {
    align-items: center;
}

.-flex-wrap {
    flex-wrap: wrap;
}

// Font Weights
.-fw-light {
    font-weight: 300;
}

.-fw-medium {
    font-weight: 500;
}

.-fw-semi-bold {
    font-weight: 600;
}

.-fw-bold {
    font-weight: 700;
}

// Font Sizes
.-fz-xs {
    font-size: 12px;
}

.-fz-sm {
    font-size: 16px;
}

.-fz-lg {
    font-size: 18px;
    @include media(breakpoint(tablet)) {
        font-size: 21px;
    }
}

.-italic {
    font-style: italic;
}

// Text Align
.-ta-center {
    text-align: center;
}

.-ta-right {
    text-align: right;
}

.-ta-right--tablet {
    @include media(breakpoint(tablet)) {
        text-align: right;
    }
}

// Margins and Padding
@each $name, $value in $spacing {
    .-mt-#{$name} {
        margin-top: $value;
    }

    .-mb-#{$name} {
        margin-bottom: $value;
    }

    .-ml-#{$name} {
        margin-left: $value;
    }

    .-mr-#{$name} {
        margin-right: $value;
    }

    .-pdt-#{$name} {
        padding-top: $value;
    }

    .-pdb-#{$name} {
        padding-bottom: $value;
    }

    .-pdl-#{$name} {
        padding-left: $value;
    }

    .-pdr-#{$name} {
        padding-right: $value;
    }
}

.-p-section {
    padding: spacing(8) 0;
    @include media(breakpoint(tablet)) {
        padding: spacing(15) 0;
    }
}

.-mt-auto {
    margin-top: auto;
}

.-mb-auto {
    margin-bottom: auto;
}

.-ml-auto {
    margin-left: auto;
}

.-mr-auto {
    margin-right: auto;
}

.-mt-0 {
    margin-top: 0;
}

.-mb-0 {
    margin-bottom: 0;
}

.-ml-0 {
    margin-left: 0;
}

.-mr-0 {
    margin-right: 0;
}

.-m-center {
    margin: {
        left: auto;
        right: auto;
    }
}

@each $name, $value in $breakpoints {
    .-show-#{$name} {
        display: none;

        @include media(breakpoint($name)) {
            display: block;

            &--flex {
                display: flex;
            }
        }
    }

    .-hide-#{$name} {
        display: block;

        &--flex {
            display: flex;
        }

        @include media(breakpoint($name)) {
            display: none;

            &--flex {
                display: none;
            }
        }
    }
}