%underline-link {

    &:after {
        border-bottom: 1px solid;
        content: '';
        opacity: 1;
        @include position( absolute, null null 0 0 );
        width: 100%;
        height: 1px;
        transition: opacity 0.25s ease-in-out;
    }

    &:hover:after {
        opacity: 0;
    }
}

/*
 * @name: %list-reset
 * @args: n/a
 * @description: Applies to a ul or ol element. Removes default
 *               list style, padding, and margin.
 */
%list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
 * @name: %list-reset-horiz
 * @args: n/a
 * @description: applies to a ul or ol element. Removes default
 *               list style, padding, and margin. Sets li child
 *               elements to disply: inline-block. Useful for
 *               navigation and category lists.
 */
%list-reset-horiz {
    @extend %list-reset;

    li {
        display: inline-block;
    }
}

/*
 * @name: %vertical-align
 * @args: n/a
 * @description: Vertically aligns an element in the center of
 *               its parent. Parent element must be of a fixed
 *               height. If the browser doesn't support transforms,
 *               it's a good idea to apply a fallback style that
 *               sets a reasonable top value.
 */
%vertical-align {
    @include position(relative, 50% null null null);
    transform: translateY(-50%);
}

%visually-hidden {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    position: absolute;
}