@import 'functions';

$fonts: (
    helvetica: #{Helvetica, Arial, sans-serif},
);

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: 8px;

$spacing: (
    base: $base-spacing,
    xs: $base-spacing * 2,
    sm: $base-spacing * 3,
    md: $base-spacing * 4,
    lg: $base-spacing * 5,
    nav-height: 66px,
    site-padding: $base-spacing * 3,
    site-width: 1200px
);

$default-feature: min-width;

$breakpoints: (
    'mobile-sm' : new-breakpoint(375px),
    'mobile'    : new-breakpoint(414px),
    'mobile-lg' : new-breakpoint(600px),
    'tablet'    : new-breakpoint(768px),
    'mobile-nav': new-breakpoint(800px),
    'laptop'    : new-breakpoint(1000px),
    'lg'        : new-breakpoint(1100px),
    'xl'        : new-breakpoint(1400px),
    'xxl'       : new-breakpoint(1560px)
);

// Colors
$col-white: #ffffff;
$col-black: #000000;

$palette: (
    white: $col-white,
    black: $col-black
);

// Animations
$base-duration: 150ms;
$base-timing: ease;