## Site generated temp files & caches
/public/install
/public/storage
/public/hot
/public/sitemap
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
.phpunit.result.cache
_ide_helper.php

/storage/app

/resources/assets/js/ziggy.js
/public/assets/css/email.css
/public/assets/css/admin.css
/public/uploads

## Cloned from elsewhere
/vendor
/node_modules

## Super Secret
/storage/*.key
.env
.env.backup
/db-backup/

## OS temp files & caches
.DS*
._*
.sass-cache*

## IDE/local project files
/.idea
/nbproject/private/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
