## Site generated temp files & caches
/public/install
/public/storage
/public/hot
/public/sitemap
.phpunit.result.cache

/storage/app

## Cloned from elsewhere
/vendor
/node_modules

## Super Secret
/storage/*.key
.env
.env.backup
/db-backup/

## OS temp files & caches
.DS*
._*
.sass-cache*

## IDE/local project files
/.idea
/nbproject/private/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
