.shop-order-details {
    section {
        margin-bottom: 24px;
    }

    td.cartitem-name,
    td.cartitem-quantity,
    td.cartitem-unit-price,
    td.cartitme-listing-id
    {
        vertical-align: top;
    }

    tr.last-for-item {
        border-bottom: 2px solid $color-navy;

        &:last-child {
            border-bottom: none;
        }
    }
}

#toggle-item-bin {
    padding: 0;
    background-color: transparent;
}

.order-status {
    display: flex;
    list-style: none;
    padding-left: 0;

    li {
        color: $color-black;
        opacity: .5;
        background-color: rgba($color-black, .2);
        border-radius: 6px;
        padding: 8px;
        margin-right: 8px;

        &.done {
            opacity: 1;
            color: $color-white;
            background-color: $color-navy;
        }
    }
}
