.sort-featured-listings {
    list-style: none;
    margin-bottom: 24px;
    padding-left: 0;

    li {
        margin-bottom: 8px;
        background-color: $color-tan-dark;
        padding: 8px;

    }
}
