.image-field {
    &__wrapper {

        &.loading {
            .image-field__spinner {
                display: block;
            }
        }
    }

    &__spinner {
        display: none;
        img {
            height: 24px;
            width: 24px;
        }
    }

    &__image {
        max-width: 250px;
    }

    &__cropper-modal {
        max-width: 1400px;
        max-height: calc(90vh - 50px);

        img {
            max-width: 100%;
        }
    }

    &__actions {
        margin-top: 16px;
        text-align: right;

        button {
            margin-left: 16px;

        }
    }

    &__cropper-wrapper {
        max-width: 1400px;
        max-height: calc(90vh - 50px);
    }
}

@import 'node_modules/cropperjs/src/css/cropper.scss';
