.product-suggestion,
.listing-result{
    &__details-container {
        padding: 36px;
    }

    &__images {
        img {
            max-width: 100%;
        }
    }

    p.product-suggestion__label,
    p.listing-result__lable {
        margin-bottom: 2px;
    }
}
