.locations-info-box {
    background: white;
    padding: {
        top: spacing(xs);
        right: spacing(sm);
        bottom: spacing(xs);
        left: spacing(sm);
    }
    position: absolute;
    top: spacing(xs);
    left: spacing(xs);
    width: calc(100% - (#{spacing(xs)} * 2);
    max-width: 320px;
    max-height: 80%;
    display: none;

    &[data-status="open"] {
        display: block;
    }

    &__content {
        position: relative;
    }

    &__close {
        position: absolute;
        top: -15px;
        right: -20px;
        line-height: 1;
    }
}