// colors
$color-white: #ffffff;
$color-black: #110f2e;

$color-tan-light: #f7f6f0;
$color-tan-med: #ecead5;
$color-tan-dark: #d2ce9e;

$color-brown: #7a7256;

$color-turquoise: #279989;
$color-turquoise-dark: #196b52;
$color-turquoise-faded: #6fa287;

$color-orange-light: #ff8200;

$color-red: #dc553c;

$color-navy: #003b5c;

// breakpoints
$bp-tablet: 768px;
$bp-phablet: 900px;
$bp-laptop: 1120px;

// some variables
$desktop-header-height: 128px;

// fonts
$font-avenir: 'Avenir', 'Nunito Sans', sans-serif;
