// colors
$color-white: #ffffff;
$color-tan-med: #ecead5;
$color-tan-light: #f7f6f0;
$color-tan-dark: #d2ce9e;
$color-brown: #7a7256;
$color-turquise: #279989;
$color-orange-light: #ff8200;

// breakpoints
$bp-tablet: 768px;
