body {
    background-color: $color-tan-light;
}

a {
    color: $color-navy;

    &:hover {
        color: $color-black;
    }
}

h4 {
    color: $color-navy;
}

.page-header {
    background: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
