body {
    background-color: white;
}

a {
    color: navy;

    &:hover {
        color: $color-orange-light;
    }
}

h4 {
    color: $color-navy;
}

#app {
    padding-top: 62px;

    @media (min-width: $bp-tablet) {
        padding-top: 128px;
    }
}

.footer__top{
    background: rgb(96, 227, 231);
}

.page-header {
    background: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
.page-header.search-page-header{
    background:rgb(33, 190, 196);
}
