body {
    background-color: $color-white;
}

a {
    color: $color-turquoise;

    &:hover {
        color: $color-navy;
    }
}

h4 {
    color: $color-navy;
}

#app {
    padding-top: 68px;

    @media (min-width: $bp-tablet) {
        padding-top: 134px;
    }
}

.page-header {
    background: none;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
