.breadcrumbs {
    a {
        font-size: 16px;

        &::after {
            content: '\f054';
            font-family: "FontAwesome";
            font-size: 12px;
            line-height: 24px;
            margin-left: 8px;
            margin-right: 8px;
            vertical-align: middle;
            font-weight: 200;
        }

        &:last-child::after{
            display: none;
        }
    }
}
