.footer {
    border-top: 6px solid $color-turquoise;
    background-color: $color-tan-med;

    &__brand {
        display: block;
        width: 190px;
        margin: 36px auto;
        text-align: center;
    }

    &__social-links {

        p {
            text-align: center;
            margin-bottom: 0;
        }

        ul {
            text-align: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                font-size: 24px;
                margin: 0 12px;
            }
        }
    }

    &__menu {
        width: 260px;
        margin: 0 auto 24px;
        list-style: none;
        padding: 0;

        li {
            margin: 12px 0;
        }

        a {
            display: flex;
            justify-content: space-between;
            color: $color-navy;
        }
    }

    &__corporate {
        background-color: white;
        border-top: 6px solid black;
        padding: 24px 0;

        a {
            color: $color-black;
            margin-left: 24px;
        }
    }

    @media (min-width: $bp-tablet) {
        &__top {
            .container {
                padding: 24px 0;
                &::before, &::after {
                    display: none;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        &__media {
            margin: 24px 0;
        }
        &__brand {
            margin: 0;
            padding: 0 45px;
            width: 220px;
        }
        &__social-links {
            li {
                margin: 8px;
                &:last-child {
                    margin-right: 0;
                }
                &:first-child {
                    margin-left: 0;
                }
            }

            p {
                text-align: left;
            }
        }
        &__middle {
            background-image: url('/assets/img/defaultBackground.jpeg');
            background-repeat: repeat-x;
            background-position: center top;
            .container {
                &::before {
                    display: none;
                }
            }
        }
        &__menu {
            margin: 0;
            padding: 30px;
            background:url('/assets/img/defaultBackground.jpeg') ;
        }
    }
}
  .board {
    min-width: 175px;
    max-width: 1100px;
    position: relative;
    margin: 0px;
    border-radius: 3px;
    padding: 12px;
    box-sizing: padding-box;
    position: relative;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
  }
  
  .top-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  
    &:before {
      border-radius: 3px 0 0 0;
      display: block;
      content: "";
      flex: 2 0 0;
      height: 1px;
      border-top: 1px solid;
    }
    &:after {
      border-radius: 0 3px 0 0;
      display: block;
      content: "";
      flex: 2 0 0;
      height: 1px;
      border-top: 1px solid;
    }
  }
  
  .headline {
    font: 18px Helvetica;
    font-weight: bold;
    overflow: hidden;
    flex: 0 0 auto;
    padding: 0 10px;
    margin-top: -10px;
    text-align: center;
  }
  
  .description {
    color: #505050;
    margin: 8px 8px 0 8px;
    text-align: center;
  }
  .main-orange {
    color: #ed821e;
    border-color: #ed821e;
  }
  #shipping {
      text-align: center;
      color: navy;
      font-weight: 700;
  }