form {
    background-color: $color-tan-med;
    padding: 24px;

    .row {
        margin-bottom: 12px;
        label {
            margin-bottom: 0;
        }

        &-right {
            text-align: right;
        }
    }
}

.error-message {
    color: $color-red;
}
