.navbar-static-top.navbar-default {
    background-color: $color-tan-med;

    .navbar-header {
        display: flex;
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;

        &::before,
        &::after {
            display: none;
        }
    }

    .navbar-brand {
        margin-bottom: -6px;

        & > img {
            max-height: 38px;

            @media (min-width: $bp-tablet) {
                max-height: 90px;
            }
        }
    }

    .navbar-toggle {
        margin-right: 0;
        float: none;
    }

    .navbar-search-wrap {
        padding: 10px 0;
        margin-right: 15px;

        .input-group.focusable {
            &.focused {
                .btn g {
                    fill: $color-brown;
                }
            }
            .btn {
                padding: 7px 8px;

                svg {
                    height: 16px;
                    width: 16px;
                    vertical-align: middle;
                }

                &:hover {
                    background-color: $color-turquise;

                    svg g {
                        fill: $color-tan-light;
                    }
                }

                &:focus, &:active {
                    background-color: $color-orange-light;

                    svg g {
                        fill: $color-tan-light;
                    }
                }
            }
        }

        .btn {

        }


    }
    .navbar-collapse {
        .navbar-search-wrap {
            display: none;
        }
    }

    .nav-taxonomies {
        ul {
            display: none;
        }
    }

    @media(min-width: $bp-tablet) {
        .container {
            display: flex;
        }
        .navbar-header {
            float: none;

            .navbar-search-wrap {
                display: none;
            }
        }
        .navbar-left {
            .navbar-search-wrap {
                display: block;
            }
        }
        #app-navbar-collapse {
            display: flex;
        }
    }

    .nav-taxonomies {
        display: flex;
        margin: 0;
        padding: 0;

        & > li {
            list-style: none;
            margin: 0;
            padding: 0;

            & > a {
                color: $color-brown;
                display: block;
                font-weight: 400;
                padding: 0 8px;
                white-space: nowrap;
                & > i {
                    position: relative;
                    bottom: 3px;
                    padding-left: 4px;
                }
            }
        }
    }
}
