.sidebar {
    border-radius: 25px;
    .sidebar-nav.navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }

    .sidebar-search {
        padding: 15px;
    }

    ul li {
        border-left: 1px solid #e7e7e7;
        border-top: 1px solid #e7e7e7;
        border-right: 1px solid #e7e7e7;
        border-radius: 20px;

        a {
            color: #333333;
            border-radius: 25px;
            &.active {
                background: orange;
                color: white;
            }
            &:hover{
                background-color: navy;
                color: white;
            }

            &.active {
                font-weight: bold;

            }
        }
    }

    .arrow {
        float: right;
    }

    .fa.arrow:before {
        content: "\f104";
    }

    .active>a>.fa.arrow:before {
        content: "\f107";
    }

    .nav-second-level li,
    .nav-third-level li {
        border-bottom: 0!important;
    }

    .nav-second-level li a {
        padding-left: 37px;
    }

    .nav-third-level li a {
        padding-left: 52px;
    }

}
