.page-footer {
    flex-shrink: 0;

    &__links {
        > li {
            a > {
                svg {
                    display: block;
                    max-width: 40px;
                    height: auto;
                }
            }
        }
    }
}