.sub-nav {
    @include media(breakpoint(tablet)) {
        display: none;
        position: relative;
    }

    &__list {
        background: white;
        padding: spacing(base) spacing(xs);
        @include media(breakpoint(lg)) {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
        }
    }

    &__item {
        white-space: nowrap;
    }
}